@use "normalize";
@use "main";
@use "variables";
@use "typography";

.container {
	margin: 0 auto;
	padding: 1rem;
	@include variables.for-tablet-portrait-up {
		max-width: 704px;
	}
	@include variables.for-tablet-landscape-up {
		max-width: 948px;
	}
	@include variables.for-desktop-up {
		max-width: 1248px;
	}
	@include variables.for-big-desktop-up {
		max-width: 1600px;
	}
}

nav {
	ul {
		list-style: none;
		padding: 0;
	}
}